@tailwind base;
@tailwind components;
@tailwind utilities;
*{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
}
body{
    color: white;
        overflow-x: hidden;
        height: 100%;
background: #eeeeee;
        user-select: none;
}

.btns{
        padding: 0;
        font-size: 2rem;
        color: black;
        height: max-content;
}

section{
padding: 6rem 0;
color: black;
}

.opens{
display: flex;
}

.div{
        margin: 8%;

}

.open_img {
   display: flex;
   height: 250px;
}

.open_text{
        margin-left: 10px;
width: max-content;
}

.btn{
border-radius: 5px;
margin: 10px 0;
}
.icons{
        margin-top: 10px;
}

.icons .icon{
transition: all 400ms ease-in-out;

}

.dummy{
      border-radius:10px;
        height: 300px;
        z-index: 1;
        transition: 400ms all ease-in-out;
}

.box{
        position: absolute;
        left: 0;
        right: 0;
}

.box .boxs{
        position: relative;
        margin-top: 5%;      
        background-color: #2563eb;
        height: 50px;
        width: 50px;
        border-radius:100vw;
        padding: 15px;
    animation-name: animate1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-fill-mode:backwards;
    animation-direction: alternate-reverse;
    animation-timing-function:linear;
transform:translate(-100px,200px);
}
.boxs:nth-child(2){opacity: 0;
 transform: translate(-120px,50px);
        animation-delay: 1s;
animation-name: animate1;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-fill-mode: backwards;
        animation-direction: alternate-reverse;
        animation-timing-function: linear;
}
@keyframes animate1 {
        from{
transform: translate(90px,105px);
        }
}
.ann{
        transform: translateY(390px) translateX(200px);
                animation-name: animate1;
                animation-duration: 15s;
                animation-iteration-count: infinite;
                animation-fill-mode: backwards;
                animation-direction: alternate-reverse;
                animation-timing-function: linear;
}
.boxs:nth-child(3) {
        opacity: 0;
        transform: translateY(180px) translateX(200px);
animation-name: animate1;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-fill-mode: backwards;
        animation-direction: alternate-reverse;
        animation-timing-function: linear;

}

.boxs:nth-child(4){
animation-name: animate1;
        animation-duration: 35s;
        animation-iteration-count: infinite;
        animation-fill-mode: backwards;
        animation-direction: alternate-reverse;
        animation-timing-function: linear;
        animation-delay: 10s;
transform: translateX(-200px);
}
.boxs:nth-child(5){
        transform: translateY(-770px) translateX(-200px);
                animation-name: animate1;
                animation-duration: 10s;
                animation-iteration-count: infinite;
                animation-fill-mode: backwards;
                animation-direction: alternate-reverse;
                animation-timing-function: linear;
}
     
.dev{
        height: 70vh;
position: relative;
 overflow: hidden;
        
}

.devv{
        position: relative;
        z-index: 2;
}
.each{
        min-width:20rem;
}

@media (max-width:768px) {
        .navlinks {
          display: none;
                
        }

}

@media (min-width:1024px) {
        .dummy {
                width: 450px;
        }
}

@media (max-width:1024px) {
        .opens {
                flex-direction: column;
        }

        .dummy {
                width: 90%;
                margin: 0 auto;
                flex-shrink: 1;
        }
}

@media (min-width:768px) {
        .btns {
                display: none;
        }

}